extends ../layouts/default

block intro
	.intro-container
		.container
			img.logo.visible-xs.visible-sm(src='/images/logo@2x.png')
			img.logo.visible-md.visible-lg(src='/images/logo@2x.png')
			h1 #{__('wherewework-title')}
			a(target="#" href="http://www.facebook.com")
				img.icon.fb.visible-xs(src='/images/icons/fb.png')
			a(target="#" href="http://www.linkedin.com")
				img.icon.li.visible-xs(src='/images/icons/li.png')
			a(target="#" href="http://www.vimeo.com")
				img.icon.vm.visible-xs(src='/images/icons/vm.png')
			a(target="#" href="http://www.youtube.com")
				img.icon.yt.visible-xs(src='/images/icons/yt.png')
			a(target="#" href="http://www.facebook.com")
				img.icon.fb.visible-sm(src='/images/icons/fb.png')
			a(target="#" href="http://www.linkedin.com")
				img.icon.li.visible-sm(src='/images/icons/li.png')
			a(target="#" href="http://www.vimeo.com")
				img.icon.vm.visible-sm(src='/images/icons/vm.png')
			a(target="#" href="http://www.youtube.com")
				img.icon.yt.visible-sm(src='/images/icons/yt.png')
			a(target="#" href="http://www.facebook.com")
				img.icon.fb.visible-md.visible-lg(src='/images/icons/fb.png')
			a(target="#" href="http://www.linkedin.com")
				img.icon.li.visible-md.visible-lg(src='/images/icons/li.png')
			a(target="#" href="http://www.vimeo.com")
				img.icon.vm.visible-md.visible-lg(src='/images/icons/vm.png')
			a(target="#" href="http://www.youtube.com")
				img.icon.yt.visible-md.visible-lg(src='/images/icons/yt.png')
		
block content
	.container
		.row: .col-sm-8.col-md-6
			p Language is currently #{getLocale()}
			p #{__('about.wherewework.maincontent')}

