extends ../layouts/mainheader

block intro
	h3 #{__('about.index.title')}

block content
	.content-container
		h6 Vision. A vision to reach children.
		p #{__('about.index.p1')}
		p #{__('about.index.p2')}
		p #{__('about.index.p3')}