extends ../layouts/mainheader

block pagetitle
	h3 What We Do

block content

	.content-container
		h6 What we do
		.line Most children in Liberia face some pretty immense challenges in going to school, if they get that chance at all..

	.content-container-alt
		h7 We’re working to change that.
		.line For almost a decade now, we’ve invested in giving a small number of Liberian children from all walks of life an unparalleled opportunity. 

	.content-container
		h6 OUR MISSION
		.line Our aim is to give Liberian students a solid educational foundation so that they can go on to become much needed leaders in their field. Education is a human right with immense power to transform. On its foundation rest the cornerstones of freedom, democracy and sustainable human development.
		.line Kofi Annan, former Secretary-General of the United Nations

	.content-container-alt
		h7 WHY EDUCATION?
		h7 HELPS BREAK CYCLE OF POVERTY
		.line Access to better jobs and higher incomes. Can't run a business without basic literacy and math skills.

	.content-container
		h6 CONTRIBUTES TO HEALTH OUTCOMES
		.line Better informed about illnesses, hygiene and nutrition.

	.content-container-alt
		h7 CONTRIBUTES TO SOCIAL RESPONSIBILITY
		.line Awareness of the functions of government and democratic processes, human rights, environmental management
		
	.content-container
		h6 OUR PRIORITIES
		ul
			li Quality. Widely noted that too much emphasis has been placed on lifting enrolment figures, and not enough emphasis on learning outcomes.
			li Community.
			li Learning. On-going learning for students, staff and the organisation. Learn from failures.
			li Equality. Of access to education regardless of wealth, gender or religion.
			li Focus on the end-game. Long-term commitment, sustainability.


