extends ../layouts/mainheader

block pagetitle
	h3 Vhere Ve Verk

block content
	.content-container
		h6 Where we work
		.line Our School Liberia, formally known as the Liberia Renaissance Education Complex, was established in 2006, in Duazon, Lower Margibi County, Liberia. We were the first school in this area, which is now home to an estimated 15,000 people.

	.content-container-alt
		h7 ABOUT LIBERIA
		.line Liberia was founded in 1847 by freed slaves from the United States. It lies on the West African coastline, nestled between Cote d'Ivoire, Guinea and Sierra Leone. Between 1989 and 2003 it suffered a devastating civil war, which saw more than 250,000 killed, tens of thousands internally displaced, and over 300,000 fleeing as refugees. More recently, it has been at the centre of the worst outbreak of Ebola that the world has ever seen. 

	.content-container
		h6 THE EDUCATION SYSTEM
		
		.line The war destroyed every sector of the country, including infrastructure, the economy and the education system. Even now, more than a decade later, illiteracy and unemployment rates remain among the worst in the world. With so many schools destroyed, the education system in Liberia is only just beginning to function again.
		
		.line During the war, many children were recruited as child soldiers and never saw the inside of a classroom. Instead they were socialized in the context of guns and drugs. Having missed out on an education, they were unable to get jobs, and without jobs, they are now struggling to educate their own children. It is often seen as more viable to send a child to work in the fields or selling at the local market, than to incur the costs of tuition, books and uniforms.

	.content-container-alt
		h7 QUICK FACTS
		ul
			li Population: 4,092,310 (as July 2014)
			li Land area: 96,0320 sq/km
			li Capital: Monrovia
			li Ethnic groups: 160
			li Official language: English
			li GDP per capita: USD $900 (as at 2014)
			li Median age: 17.9 years
			li Life expectancy: 58.21 years
			li Infant mortality rate: 69.19 deaths per 1,000 live births
			li Fertility rate: 4.81 children per woman
			li Mother's mean age at first birth: 19 years
			li Number of doctors: 1 per 100,000 people
			li Inflation rate: 11.2% (as at 2014)
			li Education expenditure: 2.8% of GDP (as at 2012)
			li Literacy rate: 42.9%
			li (Source: CIA World Factbook - Liberia, 2014)
		h7 CHARTS
