extends ../layouts/mainheader

block content

	.content-container
		h2 What we do
		.line Most children in Liberia face some pretty immense challenges in going to school, if they get that chance at all.
		.line We’re working to change that.
		.line For over a decade now, we’ve invested in giving a small number of Liberian children from all walks of life an unparalleled opportunity.

	.content-container.alt
		h2 OUR MISSION
		.line Our aim is to give Liberian students a solid educational foundation with a long-term focus. 
		.line "Education is a human right with immense power to transform. On its foundation rest the cornerstones of freedom, democracy and sustainable human development". (Kofi Annan, former Secretary-General of the United Nations)

	.content-container.secondary
		h7 WHY EDUCATION?
		.line It's the foundation of development.
		.line Without fundamental skills – reading, mathematics, civic interaction, scientific understanding – a society is unable to develop. Unfortunately, many of these skills are still lacking in Liberian society, meaning there’s a critical flow on to those roles needed most. In order to train doctors and engineers, encourage investment and deal with future crises, Liberia needs a solid educational base.
		.line Where does this begin? School.

	.content-container.alt
		h2 GOOD HABITS CAN START AT SCHOOL
		.line By providing positive role models, reinforcing social equality and giving access to basic healthcare and nutrition, students are best placed to excel, regardless of background or wealth.

	.content-container.secondary
		h7 WE KNOW IT WORKS
		.line There is a lot of conflicting research about the effectiveness of development, but education, together with health, is one of the few areas we know works.
		
	.content-container.alt
		h2 OUR PRIORITIES
		.line
			ul
				li QUALITY. Learning outcomes for our students are vital to our success, with a focus on small classes and students getting the attention they need to thrive. 
				li COMMUNITY. Education doesn’t stop at the school gates; we are actively involved in our community and encourage the participation of parents and staff in the school’s ongoing success.
				li LEARNING. We are playing the long game, with skills development for staff and students part of our core program. We see mistakes as a critical part of the learning process and encourage our students to do the same, always trying new methods in pursuit of our goals.
				li EQUALITY. No barriers of background, gender or religion are placed on school entry for students – we want all Liberian children to have the same opportunities.
				li FOCUS ON THE END-GAME. After 10 years, we’re just getting started. 

