extends ../layouts/mainheader

block intro
	h3 #{__('about.supporters.title')}

block content
	.content-container
		p #{__('about.supporters.maincontent')}
	.content-container
		p #{__('about.supporters.maincontent')}

