extends ../layouts/mainheader

block pagetitle
	h3 Etwa

block content
	.content-container
		h6 Vision. A vision to reach children.
		p.
			Most children in Liberia face some pretty immense challenges in going to school, if they get that chance at all. We're working to change that. For almost a decade now we’ve invested in giving a small number of Liberian children from all walks of life an unparalleled opportunity.
		p.
			You might be put off by the fact that we spend a lot more on each of our students than your average “development” sponsorship programs. We’re not. We know the cost of giving kids a real education. You know, the kind of education that enables you to read this website. One with not just pens and paper, but also chairs, lessons they can get excited about, and access to a toilet.
		p.
			If you’re like us and think that all children deserve that, help us keep making it a reality.
