extends ../layouts/mainheader

block pagetitle
	h3 Was wir machen

block content

	.content-container
		h6 Was wir machen
		.line Es ist extrem schwierig für Kinder in Liberia zur Schule zu gehen, falls sie überhaupt diese Gelegenheit haben.
		.line Durch unsere Arbeit soll das anders werden.
		.line Seit mehr als einem Jahrzehnt haben wir in die Zukunft von liberianischen Kindern aus allen Teilen der Gesellschaft investiert.

	.content-container-alt
		h6 UNSER ZIEL
		.line Unser Ziel ist es, liberianischen Schülerinnen und Schülern eine solide Ausbildung mit Zukunftsperspektive zu bieten.
		.line "Bildung ist ein Menschenrecht mit enormen Wirkungspotenzial. Auf diesem Fundament ruhen die Grundsteine der Freiheit, der Demokratie und der nachhaltigen Entwicklung." (Kofi Annan, ehemaliger Generalsekretär der Vereinten Nationen)

	.content-container
		h7 WARUM BILDUNG?
		.line Bildung ist der Grundstein der Entwicklung.
		.line Ohne Grundkompetenzen - Lesen, Mathematik, bürgerliche Rechte und Pflichten, wissenschaftliches Verständnis - kann sich eine Gesellschaft nicht weiterentwickeln. Leider fehlen diese Grundkompetenzen häufig in der liberianischen Gesellschaft, und das erschwert die Weiterentwicklung des Landes. Um Ärzte und Ingenieure auszubilden, Investitionen zu fördern und zukünftige Krisen zu vermeiden, braucht Liberia ein starkes Bildungsfundament.
		.line Wo fängt das an? In der Schule.

	.content-container-alt
		h6 GUTE GEWOHNHEITEN FANGEN IN DER SCHULE AN
		.line Durch positive Vorbilder, verstärkte soziale Gerechtigkeit, Zugang zur medizinischen Grundversorgung und ausreichender Nahrung können Schüler/innen jeglicher Herkunft ihr volles Potenzial erreichen.

	.content-container
		h7 WIR WISSEN, DASS ES FUNKTIONIERT
		.line Es gibt viele verschiedene Meinungen in der Forschung zur Wirksamkeit von Entwicklungsprojekten, aber eins steht fest: Verbesserungen in der Bildung und Gesundheit können tatsächlich einen großen Unterschied machen.

	.content-container-alt
		h6 UNSERE PRIORITÄTEN
		ul
			li QUALITÄT. Die Lernergebnisse unserer Schülerinnen und Schüler sind entscheidend für unseren Erfolg. Deshalb legen wir besonders Wert auf kleine Klassen, und dass jede/r Schüler/in genug Aufmerksamkeit bekommt, um sein/ihr volles Potential auszuschöpfen.
			li GEMEINDE. Bildung hört nicht am Schulgebäude auf. Wir engagieren uns in der hiesigen Gemeinde und ermutigen Eltern und Schulpersonal, aktiv zum Erfolg unserer Schule beizutragen.
			li LERNEN. Wir versuchen immer, langfristig und zukunftsträchtig zu planen. Daher ist die Kompetenzentwicklung sowohl vom Personal als auch von den Schülerinnen und Schülern Teil unseres Kernprogramms. Fehler gehören zum Lernprozess und wir ermuntern unsere Schülerinnen und Schüler, das auch so zu sehen. Wir versuchen auch immer etwas Neues auszuprobieren, um unsere Ziele zu erreichen.
			li FAIRNESS. In unserer Schule soll es keine Hindernisse zur Schulteilnahme geben. Wir wollen, dass alle Schülerinnen und Schüler die gleichen Chancen haben, ohne Rücksicht auf Herkunft, Geschlecht oder Religion.
			li LANGZEITSPERPEKTIVE. Nach 10 Jahren fangen wir gerade erst an!
