extends ../layouts/donateheader

mixin donateButton ()
	.donatebutton.
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="2ZX8YPSZQR7N6" />
			<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="border: 0px none ; padding: 0px; width: 80px; height: 21px;"/>
		</form>
	

block intro
	h3 #{__('donate.title')}

block content
	.content-container
		p
		| <strong> #{__('donate.maincontent')} </strong>
		+donateButton()
