extends ../layouts/mainheader

block head 
	link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css", rel="stylesheet")

block content

	.content-container
		h2 Subscribe

		mixin subscribeForm()
			.line Subscribe to our newsletter
			.row: .col-sm-12.col-md-12
				form(class="subscribe" name="subscribe", method="post")
					input(type='hidden', name='action', value='subscribe')
					.form-group
						label First Name
						input(type="text", name="name.first" value=formData['name.first']).form-control
					.form-group
						label Last Name
						input(type="text", name="name.last" value=formData['name.last']).form-control
					.form-group
						label E-mail address
						input(type="text", name="email" value=formData['email']).form-control
					//- .form-group
					//- 	label Preferred Language
					//- 	select(name="preferredLanguage").form-control
					//- 		each language in languages
					//- 			option(value=(language.value), selected=(formData['preferredLanguage'] === language.value))= language.label
					.form-actions
						button(type='submit', value="submit").btn.btn-primary Send


		mixin formSubmitted()
			div
				.line Thankyou for subscribing to our newsletter


		block content
			if formSubmitted
				+formSubmitted()
			else
				.content-container-alt
					+subscribeForm()
