extends ../layouts/mainheader

block content

	.content-container
		h2 Get involved
		.line Want to be a part of what we do?
		ul
			li
				a(href="get-involved/subscribe") Subscribe
			li
				a(href="get-involved/volunteer") Volunteer
