extends ../layouts/default

block content
	.container
		img.logo.visible-xs.visible-sm(src='/images/logo@2x.png')
		img.logo.visible-md.visible-lg(src='/images/logo@2x.png')
		img.heroimage.hidden-xs(src='/images/hero@2x.png')
		img.heroimage.visible-xs(src='/images/hero@2x.png')
		h1.visible-xs OUR SCHOOL LIBERIA
		h1.visible-sm OUR SCHOOL LIBERIA
		h1.visible-md OUR SCHOOL LIBERIA
		h1.visible-lg OUR SCHOOL LIBERIA
		.donatenow.visible-xs DONATE NOW
		.donatenow.visible-sm DONATE NOW
		.donatenow.visible-lg.visible-md DONATE NOW
