extends ../layouts/default

block content
	.container
		img.heroimage(src='/images/hero@2x.jpg')
		h1.visible-xs OUR SCHOOL LIBERIA
		h1.visible-sm OUR SCHOOL LIBERIA
		h1.visible-md OUR SCHOOL LIBERIA
		h1.visible-lg OUR SCHOOL LIBERIA
