mixin buildRoute(routeName, params, text)
	a(href=url(getLocale() + '.' + routeName, params))= text

mixin buildRouteToId(routeName, params, id, text)
	a(href=url(getLocale() + '.' + routeName, params)+'#'+id)= text
