extends default

block header
	.header-container
		.container
			img.logo(src='/images/logo@2x.png')
			img.heroimage(src='/images/hero@2x.png')
			h4 OUR SCHOOL LIBERIA
			a(class="home-icon fb" target="#" href="https://www.facebook.com/OurSchoolLiberia/")
				img(src='/images/icons/fb.png')
			a(class="home-icon li" target="#" href="https://www.linkedin.com/company/10256933/")
				img(src='/images/icons/li.png')
			a(class="home-icon yt" target="#" href="https://www.youtube.com/channel/UCZdZYnDYG2GbVsqGaq27dFQ")
				img(src='/images/icons/yt.png')


	a(target="_top" href="/donate" class="donatenow") #{__('intro.donatenow')}
