@import "bourbon/bourbon"

@include font-face("Open Sans", "../fonts/fonts/Light/OpenSans-Light", light)
@include font-face("Open Sans", "../fonts/fonts/Regular/OpenSans-Regular", normal)
@include font-face("Open Sans", "../fonts/fonts/Bold/OpenSans-Bold", bold)

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

body
	font-family: "Open Sans"
	width: 100%
	overflow-x: hidden

.container
	z-index: 2
	.visible-xs
		top: -50px

.navbar-default
	background-color: #fff
	border: none
	text-transform: uppercase
	margin-top: 10px
	margin-bottom: 50px

.navbar-nav > li > a
	letter-spacing: 0px

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
	background: #fff
	color: #2d6895
	font-weight: bold

.dropdown-menu
	padding: 10px 0
	box-shadow: 0 4px 0px rgba(0, 0, 0, 0.175)
	background-clip: padding-box
	border: 1px solid #ddd

.heroimage
	width: 50%
	margin-top: 10px
	left: 50%
	margin-left: -25%
	position: relative
	@media screen and (min-width: 1024px)
		max-width: 340px
		left: 50%
		margin-left: -170px
		top: 10px
		padding-bottom: 30px
	&.visible-xs
		width: 60%
		margin-top: 10px
		left: 50%
		margin-left: -30%
		position: relative


h1
	position: relative
	margin-top: -60%
	margin-bottom: 60%
	font-weight: 600
	font-size: 4em
	text-align: center
	color: #fff
	&.visible-lg
		top: 250px
		font-size: 5em
	&.visible-md
		font-size: 5em
		top: 30px
	&.visible-sm
		top: 35px
	&.visible-xs
		font-size: 3.5em
		margin-top: -80%
		margin-bottom: 80%

.navbar-toggle
	margin-top: -32px

.donatenow
	z-index: 3
	&.visible-ld, &.visible-md
		position: relative
		background-color: #edbe36
		width: 50%
		left: 50%
		margin-left: -25%
		text-align: center
		padding: 30px 20px 30px 0px
		top: 0%
		margin-top: -123px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		margin-bottom: -70px
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 40px
			right: 40px
	&.visible-sm
		position: relative
		background-color: #edbe36
		width: 60%
		left: 50%
		margin-left: -30%
		text-align: center
		padding: 30px 20px 30px 0px
		top: 0%
		margin-top: -113px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		margin-bottom: -57px
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 40px
			right: 40px
	&.visible-xs
		position: relative
		background-color: #edbe36
		width: 120%
		left: 50%
		margin-left: -60%
		text-align: center
		padding: 30px 20px 30px 0px
		top: 0%
		margin-top: -163px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 40px
			right: 10%


.intro-container
	@include radial-gradient(#8fc1e5, #4682ad)

.logo
	&.visible-xs, &.visible-sm
		width: 216px
		left: 50%
		margin-left: -108px
		position: relative
		margin-top: -10px
	&.visible-md, &.visible-ld
		width: 266px
		left: 50%
		margin-left: -133px
		position: relative
		margin-top: -30px

.aboutnow-prev
	position: relative
	width: 100% 
	background-color: #383ba5
	z-index: 1
	&.visible-xs, &.visible-sm
		border-top: none
		height: 470px
		padding-top: 10px
		top: 0px
	&.visible-md, &.visible-lg
		height: 400px
		border-top: 5px solid #fff

h2
	text-align: center
	margin-top: 110px
	color: #fff
	font-weight: 600
	margin-bottom: 40px

p.aboutnow-prev-p
	margin: 0 0 10px
	text-align: center
	color: #fff
	padding: 0 10%
	#{$a-tags}
		color: #fff
		text-decoration: underline
	#{$a-tags-hover}
		color: #fff
		opacity: 0.6

.read-more-arrow
	width: 11px
	margin-left: 6px

.home-icon
	img
		position: relative
		width: 100%
	&.visible-lg, &.visible-md
		&.fb
			position: relative
			width: 50px
			left: 0px
			top: -830px
		&.li
			position: relative
			top: -877px
			width: 45px
			left: 56px
		&.vm
			position: relative
			top: -922px
			width: 45px
			left: 112px
		&.yt
			position: relative
			top: -966px
			width: 45px
			left: 167px
			margin-bottom: -180px
	&.visible-sm
		&.fb
			position: relative
			width: 50px
			left: 0px
			top: -830px
		&.li
			position: relative
			top: -876px
			width: 45px
			left: 53px
		&.vm
			position: relative
			top: -920px
			width: 45px
			left: 107px
		&.yt
			position: relative
			top: -964px
			width: 45px
			left: 163px
			margin-bottom: -193px
	&.visible-xs
		&.fb
			position: relative
			width: 40px
			left: 10px
			top: -190px
		&.li
			position: relative
			top: -226px
			width: 35px
			left: 53px
		&.vm
			position: relative
			top: -260px
			width: 35px
			left: 95px
		&.yt
			position: relative
			top: -294px
			width: 35px
			left: 137px
			margin-bottom: -220px

.visible-lg, &.visible-md
	&.fb
		position: relative
		width: 50px
		left: 0px
		top: -166px
		.icon
			position: relative
			width: 100%
	&.li
		position: relative
		top: -213px
		width: 45px
		left: 56px
		.icon
			position: relative
			width: 100%
	&.vm
		position: relative
		top: -258px
		width: 45px
		left: 112px
		.icon
			position: relative
			width: 100%
	&.yt
		position: relative
		top: -302px
		width: 45px
		left: 167px
		.icon
			position: relative
			width: 100%
.visible-sm
	&.fb
		position: relative
		width: 50px
		left: 0px
		top: -300px
		.icon
			position: relative
			width: 100%
	&.li
		position: relative
		top: -346px
		width: 45px
		left: 53px
		.icon
			position: relative
			width: 100%
	&.vm
		position: relative
		top: -390px
		width: 45px
		left: 107px
		.icon
			position: relative
			width: 100%
	&.yt
		position: relative
		top: -434px
		width: 45px
		left: 163px
		margin-bottom: -260px
		.icon
			position: relative
			width: 100%
.visible-xs
	&.fb
		position: relative
		width: 40px
		left: 10px
		top: -220px
		.icon
			position: relative
			width: 100%
	&.li
		position: relative
		top: -256px
		width: 35px
		left: 53px
		.icon
			position: relative
			width: 100%
	&.vm
		position: relative
		top: -290px
		width: 35px
		left: 95px
		.icon
			position: relative
			width: 100%
	&.yt
		position: relative
		top: -324px
		width: 35px
		left: 137px
		margin-bottom: -250px
		.icon
			position: relative
			width: 100%

h3
	position: relative
	left: 16px
	font-family: "Open Sans"
	color: #fff
	text-transform: uppercase
	font-weight: bold
	padding-right: 20px
	&.visible-xs
		font-size: 30px
		margin-bottom: 130px
		padding-right: 20px
		top: 0px !important
	&.visible-sm
		margin-bottom: 130px
		padding-right: 20px
		top: 0px !important
		text-align: center
		font-size: 45px
	&.visible-md, &.visible-lg
		position: relative
		margin-bottom: -20px
		padding-right: 30px 
		text-align: center
		font-size: 45px

.content-container
	width: 100%
	background-color: #383ba5
	height: 200px
	color: #fff
	font-size: 20px
	&.visible-xs, &.visible-sm
		margin-top: 0px
		padding: 80px 10px 0px 50px
	&.visible-md, &.visible-lg
		margin-top: 6px
		padding: 90px 10px 0px 50px




