@import "bourbon/bourbon"

@include font-face("Open Sans", "../fonts/fonts/Light/OpenSans-Light", light)
@include font-face("Open Sans", "../fonts/fonts/Regular/OpenSans-Regular", normal)
@include font-face("Open Sans", "../fonts/fonts/Bold/OpenSans-Bold", bold)

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

@mixin respond-to($breakpoint)
	@if $breakpoint == "xs"
		@media (min-width: 321px) and (max-width: 766px)
			@content

	@else if $breakpoint == "sm"
		@media (min-width: 767px) and (max-width: 991px)
			@content

	@else if $breakpoint == "md"
		@media (min-width: 992px) and (max-width: 1199px)
			@content

	@else if $breakpoint == "lg"
		@media (min-width: 1200px)
			@content

body
	font-family: "Open Sans"
	width: 100%
	overflow-x: hidden

.container
	z-index: 2		
	top: -50px

.navbar-default
	background-color: #fff
	border: none
	text-transform: uppercase
	margin-top: 10px
	margin-bottom: 50px

.navbar-nav > li > a
	letter-spacing: 0px

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
	background: #fff
	color: #2d6895
	font-weight: bold

.dropdown-menu
	padding: 10px 0
	box-shadow: 0 4px 0px rgba(0, 0, 0, 0.175)
	background-clip: padding-box
	border: 1px solid #ddd

.heroimage
	width: 50%
	margin-top: 10px
	left: 50%
	margin-left: -25%
	position: absolute
	z-index: 4
	@include respond-to("lg")
		max-width: 330px
		left: 50%
		margin-left: -165px
		top: 260px
		padding-bottom: 30px
	@include respond-to("md")
		max-width: 330px
		left: 50%
		margin-left: -165px
		top: 310px
		padding-bottom: 30px
	@include respond-to("sm")
		max-width: 340px
		left: 50%
		top: 310px
		width: 35%
		margin-left: -17.5%
	@include respond-to("xs")
		width: 290px
		top: 250px
		left: 50%
		margin-left: -145px

h1
	position: relative
	margin-bottom: 60%
	font-weight: 600
	text-align: center
	color: #fff
	z-index: 20
	@include respond-to("lg")
		top: 320px
		font-size: 5em
	@include respond-to("md")
		font-size: 5em
		top: 310px
	@include respond-to("sm")
		font-size: 4em
		top: 340px
	@include respond-to("xs")
		font-size: 4em
		top: 280px
	
.navbar-toggle
	margin-top: -32px

a:active, a:visited
	color: #fff
	text-decoration: none
a:hover, a:focus
	color: #fff
	text-decoration: none

.donatenow
	z-index: 4
	@include respond-to("xs")
		position: relative
		background-color: #edbe36
		padding: 20px 280px 20px 230px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		left: 50%
		margin-left: -395px
		top: -25px
		a:hover, a:focus
			color: #fff
			text-decoration: none
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 31px
			right: 195px
	@include respond-to("sm")
		position: relative
		background-color: #edbe36
		padding: 20px 90px 20px 40px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		left: 50%
		margin-left: -205px
		top: -25px
		border-radius: 60px
		a:hover, a:focus
			color: #fff
			text-decoration: none
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 31px
			right: 36px
	@include respond-to("md")
		position: relative
		background-color: #edbe36
		padding: 20px 90px 20px 40px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		left: 50%
		margin-left: -205px
		top: -25px
		border-radius: 60px
		a:hover, a:focus
			color: #fff
			text-decoration: none
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 31px
			right: 36px
	@include respond-to("lg") 
		position: relative
		background-color: #edbe36
		padding: 20px 120px 20px 70px
		border: 6px solid #FFF
		color: #fff
		font-size: 40px
		font-family: "Open Sans"
		left: 50%
		margin-left: -235px
		top: -25px
		border-radius: 60px
		a:hover, a:focus
			color: #fff
			text-decoration: none
		&::after 
			content: ""
			position: absolute
			background-image: url("../images/arrow@2x.png")
			background-size: 100% auto
			width: 27.5px
			height: 39.5px
			top: 31px
			right: 36px


.intro-container
	width: 100%
	@include radial-gradient(#8fc1e5, #4682ad)
	@include respond-to("xs")
		height: 650px
	@include respond-to("sm")
		height: 780px
	@include respond-to("md")
		height: 760px
	@include respond-to("lg")
		height: 800px	

.logo
	position: absolute
	@include respond-to("xs")
		width: 216px
		left: 50%
		margin-left: -108px
		margin-top: -10px
	@include respond-to("sm")
		width: 216px
		left: 50%
		margin-left: -108px
		margin-top: -10px
	@include respond-to("md")
		width: 266px
		left: 50%
		margin-left: -133px
		margin-top: -30px
	@include respond-to("lg")
		width: 210px
		left: 50%
		margin-left: -105px
		margin-top: -16px

.aboutnow-prev
	position: relative
	width: 100% 
	background-color: #002f50
	z-index: 1
	font-size: 18px
	margin-top: -60px
	border-top: 6px solid #fff
	@include respond-to("xs") 
		height: auto
		top: 0px
		padding: 90px 50px 60px 50px
	@include respond-to("sm")
		height: auto
		top: 0px
		padding: 90px 50px 60px 50px
	@include respond-to("md")
		padding: 110px 150px 70px 150px
	@include respond-to("lg")
		padding: 110px 150px 70px 150px	

h2
	text-align: left
	color: #fff
	font-weight: 600
	margin-bottom: 40px
	text-transform: uppercase
	font-size: 45px
	font-weight: 900
	line-height: 48px
	a
		color: #fff
	a:hover
		color: #fff


p.aboutnow-prev-p
	margin-left: 0px !important
	text-align: left
	color: #fff
	#{$a-tags}
		color: #fff
		text-decoration: underline
	#{$a-tags-hover}
		color: #fff
		opacity: 0.6

.read-more-arrow
	width: 11px
	margin-left: 6px

.home-icon
	position: absolute
	width: 50px
	height: 50px
	&.fb
		@include respond-to("lg")
			left: 10%
			top: 170px
			margin-left: 0
		@include respond-to("md")
			left: 10%
			top: 210px
			margin-left: 0
		@include respond-to("sm")
			left: 5%
			top: 210px
			margin-left: 0
		@include respond-to("xs")
			left: 0px
			top: 150px
	&.li
		padding: 2px
		@include respond-to("lg")
			left: 10%
			top: 168px
			margin-left: 55px
		@include respond-to("md")
			left: 10%
			top: 210px
			margin-left: 55px
		@include respond-to("sm")
			left: 5%
			top: 210px
			margin-left: 55px
		@include respond-to("xs")
			top: 194px
			left: -2px
	&.vm
		@include respond-to("lg")
			left: 10%
			top: 170px
			margin-left: 115px
		@include respond-to("md")
			left: 10%
			top: 210px
			margin-left: 115px
		@include respond-to("sm") 
			left: 5%
			top: 210px
			margin-left: 115px
		@include respond-to("xs") 
			top: 244px
			left: 0px
	&.yt
		@include respond-to("lg") 
			left: 10%
			top: 170px
			margin-left: 175px
		@include respond-to("md") 
			left: 10%
			top: 210px
			margin-left: 175px
		@include respond-to("sm") 
			left: 5%
			top: 210px
			margin-left: 175px
		@include respond-to("xs") 
			top: 292px
			left: 0px
	
.fb img, .li img, .yt img, .vm img
	@include respond-to("lg") 
		position: relative
		width: 50px
		left: 0px
		.icon
			position: relative
			width: 100%
	@include respond-to("md") 
		position: relative
		width: 50px
		left: 0px
		.icon
			position: relative
			width: 100%
	@include respond-to("sm") 
		position: relative
		width: 50px
		left: 0px
		.icon
			position: relative
			width: 100%
	@include respond-to("xs") 
		position: relative
		width: 40px
		left: 10px
		.icon
			position: relative
			width: 100%

h3
	position: relative
	left: 16px
	font-family: "Open Sans"
	color: #fff
	text-transform: uppercase
	font-weight: bold
	padding-right: 20px
	@include respond-to("lg") 
		position: relative
		margin-bottom: 20px
		padding-right: 30px
		text-align: center
		font-size: 60px
		padding-top: 40px
	@include respond-to("md") 
		position: relative
		margin-bottom: 20px
		padding-right: 30px
		text-align: center
		font-size: 60px
		padding-top: 40px
	@include respond-to("sm") 
		margin-bottom: 130px
		padding-right: 20px
		top: 0px !important
		text-align: center
		font-size: 45px
	@include respond-to("xs") 
		font-size: 30px
		margin-bottom: 130px
		padding-right: 20px
		top: 0px !important

h4
	position: relative
	left: 16px
	font-family: "Open Sans"
	color: #fff
	text-transform: uppercase
	font-weight: bold
	padding-right: 0px
	margin-bottom: 20px
	margin-top: 20px
	margin-left: -20px
	font-size: 35px

h5
	position: relative
	left: 16px
	font-family: "Open Sans"
	color: #fff
	text-transform: uppercase
	font-weight: bold
	padding-right: 0px
	margin-bottom: 20px
	margin-top: 20px
	margin-left: -20px
	font-size: 30px


.content-container
	width: 100%
	background-color: #002f50
	height: auto
	color: #fff
	font-size: 20px
	border-top: 6px solid #fff
	@include respond-to("lg") 
		margin-top: -57px
		padding: 110px 150px 70px 150px
		text-align: left
	@include respond-to("md") 
		margin-top: -57px
		padding: 110px 150px 70px 150px
		text-align: left
	@include respond-to("sm") 
		margin-top: -57px
		padding: 70px 50px 60px 50px	
	@include respond-to("xs") 
		margin-top: -57px
		padding: 70px 50px 60px 50px

.content-container-alt
	width: 100%
	background-color: #fff
	height: auto
	color: #002f50
	font-size: 20px
	@include respond-to("xs") 
		margin-top: 0px
		padding: 70px 50px 60px 50px
		input, textarea
			color: #002f50
			border-radius: 32px
			box-shadow: none
			width: 95%
			padding: 10px 0px 10px 20px
			margin: 10px 0 10px 0px
			border: 1px solid
		.label
			color: #002f50
			padding: .2em 0em 0em
		button, html input[type="button"], input[type="reset"], input[type="submit"]
			color: #fff
			background-color: #002f50
			padding: 10px 0 10px 0
	@include respond-to("sm") 
		margin-top: 0px
		padding: 70px 50px 60px 50px
		margin-bottom: 40px
		input, textarea
			color: #002f50
			border-radius: 32px
			box-shadow: none
			width: 95%
			padding: 10px 0px 10px 20px
			margin: 10px 0 10px 0px
			border: 1px solid
		.label
			color: #002f50
			padding: .2em 0em 0em
		button, html input[type="button"], input[type="reset"], input[type="submit"]
			color: #fff
			background-color: #002f50
			padding: 10px 0 10px 0	
	@include respond-to("lg") 
		margin-top: 6px
		padding: 0px 150px 100px 150px
		text-align: left
		font-weight: 100
		input, textarea
			color: #002f50
			border-radius: 32px
			box-shadow: none
			width: 60%
			padding: 10px 0px 10px 20px
			margin: 10px 0 10px 0px
			border: 1px solid
		.label
			color: #002f50
			padding: .2em 0em 0em
		button, html input[type="button"], input[type="reset"], input[type="submit"]
			color: #fff
			background-color: #002f50
			padding: 10px 0 10px 0
	@include respond-to("md") 
		margin-top: 6px
		padding: 0px 150px 100px 150px
		text-align: left
		font-weight: 100
		input, textarea
			color: #002f50
			border-radius: 32px
			box-shadow: none
			width: 60%
			padding: 10px 0px 10px 20px
			margin: 10px 0 10px 0px
			border: 1px solid
		.label
			color: #002f50
			padding: .2em 0em 0em
		button, html input[type="button"], input[type="reset"], input[type="submit"]
			color: #fff
			background-color: #002f50
			padding: 10px 0 10px 0
	

@include respond-to("xs") 
	p 
		margin: 20px 0px 0 0px
		font-size: 16px
	strong
		text-transform: uppercase
		font-size: 40px
		font-weight: 900
		line-height: 48px
	h6
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		margin-bottom: 20px
		margin-left: -20px
		font-size: 40px
		background-color: #002f50
		width: 100%
		text-align: left
		margin-top: 20px
	h7
		position: relative
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		font-size: 40px
		background-color: #fff
		color: #002f50
		width: 100%
		text-align: left
		line-height: 50px
		right: 0px
		margin-right: 20px
		top: -30px

@include respond-to("sm") 
	p 
		margin: 20px 0px 0 0px
		font-size: 16px
	strong
		text-transform: uppercase
		font-size: 40px
		font-weight: 900
		line-height: 48px
	h6
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		margin-bottom: 20px
		margin-left: -20px
		background-color: #002f50
		width: 100%
		text-align: left
		font-size: 40px !important
		margin-top: 20px
	h7
		position: relative
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		font-size: 40px
		background-color: #fff
		color: #002f50
		width: 100%
		text-align: left
		line-height: 50px
		right: 0px
		margin-right: 20px
		top: -30px

@include respond-to("lg") 
	p
		margin: 20px 0 0 
		font-size: 16px
	strong
		text-transform: uppercase
		font-size: 45px
		font-weight: 900
		line-height: 68px
	h6
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		margin-bottom: 20px
		margin-left: -20px
		font-size: 40px
		background-color: #002f50
		width: 100%
		text-align: left
		margin-top: -20px
		font-size: 40px !important
	h7
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		font-size: 35px
		margin-left: -20px
		background-color: #fff
		color: #002f50
		width: 100%
		text-align: center
		top: 10px
		line-height: 3

@include respond-to("md") 
	p
		margin: 20px 0 0 
		font-size: 16px
	strong
		text-transform: uppercase
		font-size: 45px
		font-weight: 900
		line-height: 68px
	h6
		font-size: 40px
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		margin-bottom: 20px
		margin-left: -20px
		font-size: 40px !important
		background-color: #002f50
		width: 100%
		text-align: left
		margin-top: -20px
	h7
		position: relative
		left: 16px
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: bold
		padding-right: 0px
		font-size: 40px
		margin-left: -20px
		background-color: #fff
		color: #002f50
		width: 100%
		text-align: center
		top: 10px
		line-height: 3


.slick-slide
	padding: 0px 80px 0 20px
	outline: none
	
.text-muted
	color: #ddd

h8
	position: relative
	font-family: "Open Sans"
	text-transform: uppercase
	font-weight: bold
	font-size: 15px
	color: #ddd
	width: 100%
	text-align: center
	line-height: 3
	top: -20px
	a
		color: #ddd
	a:hover
		color: #ddd

section
	font-weight: 500

h9
	font-weight: 900
	font-size: 18px 

.team-member-container
	display: flex

.caption
	height: 290px !important
	line-height: 20px !important
	display: block !important
	padding: 20px !important

.poptrox-popup
	@include respond-to("xs") 
		width: 80% !important
		height: 80% !important
	@include respond-to("sm") 
		width: 80% !important
		height: 80% !important
	@include respond-to("md") 
		width: 80% !important
		height: 50% !important
	@include respond-to("lg") 
		width: 80% !important
		height: 50% !important

.gallery
	top: 30px
	position: relative

.paypalbutton
	text-transform: uppercase
	background-color: #2980B9
	border: 4px solid #fff
	display: inline-block
	font-family: inherit
	padding: 12px 24px
	font-weight: bold
	box-shadow: none
	font-size: 1.5em
	color: #fff
	width: auto

.paypalbutton:hover
	background-color: #3498DB

.supporters
	position: relative
	left: 50% 
	background-repeat: no-repeat
	@include respond-to("lg") 
		background-image: url("../../images/supporters-lg.png")
		width: 1024px 
		margin-left: -512px
		height: 627px
		margin-top: 80px
	@include respond-to("md") 
		background-image: url("../../images/supporters-md.png")
		width: 767px 
		margin-left: -383.5px
		height: 1024px
		margin-top: 0px
	@include respond-to("sm") 
		background-image: url("../../images/supporters-sm.png")
		width: 300px 
		margin-left: -150px
		height: 1048px
		margin-top: 0px
	@include respond-to("xs") 
		background-image: url("../../images/supporters-sm.png")
		width: 300px 
		margin-left: -150px
		height: 1048px
		margin-top: 0px





